[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-restful = "*"
wtforms-sqlalchemy = "*"
wtforms = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-script = "*"
flask-wtf = "*"
"psycopg2" = "==2.7.5"
timeboard = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.6"
