{% extends 'base.html' %}
{% block title %}User Table{% endblock %}
{% block content %}
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Resources</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List of resources</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>IBM Serial</th>
                      <th>Sprint CID</th>
                      <th>Name</th>
                      <th>Error</th>
                      <th>Error Code</th>
                    </tr>
                  </thead>
                        <tbody>
                        {% for error in errors.items %}
                            <tr>
                                <td>{{ error.ibmserial }}</td>
                                <td>{{ error.cid }}</td>
                                <td>{{ error.name }}</td>
                                <td>{{ error.error }}</td>
                                <td>{{ error.code }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
                    Page:
                    {% for page in errors.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) %}
                        {% if page %}
                            <a href="{{ url_for('errors', page_num=page) }}">{{ page }}</a>
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
